@media screen and (max-width: 800px) {
    .container {
        max-width: 93vw;
    }
    .main-hd {
        font-size: 2.5rem;
        text-align: center;
    }
    .quote {
        font-size: 2rem;
    }
    nav {
        bottom: 0;
        width: 100%;
        height: 4rem;
        // // display: none; //for mobile screen
        overflow: hidden;
        // flex-direction: row;
        // //width: 0;
        margin-left: 0rem;
        margin-bottom: 1rem;
    }
    nav ul {
        border-radius: 4rem;
        //padding: 4rem;
        //isplay: inline-block;
        width: 45%;
        display: flex;
        justify-content: space-evenly;
    }
    nav ul li {
        display: inline-block;
    }
    nav li i {
        overflow: visible;
    }
    .mail {
        right: -0.5rem;
    }
    .skills .container .skill-showcase .flex-card:nth-child(1),
    .skills .container .skill-showcase .flex-card:nth-child(2),
    .skills .container .skill-showcase .flex-card:nth-child(3) {
        width: 80vw;
    }

    .projects .container .project {
        display: block;
    }
    .projects .container .project-details {
        position: relative;
        width: auto;
        margin-bottom: 1.5rem;
        //background-color: transparent;
    }
    .projects .container .project-details > * {
        margin-bottom: 0.5rem;
    }
    .projects .container .project-details .project-view {
        justify-content: space-between;
    }
    .aboutme {
        height: auto;
    }
    .aboutme .container .aboutme-showcase .aboutme-main {
        grid-template-columns: 1fr;
    }
    .aboutme .container .aboutme-showcase .aboutme-main .grid-left {
        list-style: square;
        text-align: center;
    }
    footer {
        height: 80vh;
    }
    footer .box {
        height: 70vh;
    }
    footer .copyright {
        height: 10vh;
    }
}
